# Baseline
numpy
pandas
sklearn
matplotlib
seaborn
tqdm

# Signal processing
scipy
librosa

# Neural Networks 
torch
torchaudio
tensorboardX
neptune-client
pytorch-lightning

# Hyper-parameters search
ray[tune]

# Extra
pathos
lmfit
numba
beartype
